<div class="row about-content about-content--timeline">
    {% set jobs = craft.entries.section('workExperience').one() %}
    <div class="col-full text-center">
        <h3>{{ jobs.title }}.</h3>
    </div>

        <div class="col-six tab-full left">
        {% for key,job in jobs.experience %}
        {% if key < (jobs.experience|length)/2 %}
            <div class="timeline">
                <div class="timeline__block">
                    <div class="timeline__bullet"></div>
                    <div class="timeline__header">
                        <p class="timeline__timeframe">{{ job.dateStarted | date('M Y')}} - {{ job.dateEnded | date('M Y') }}</p>
                        <h3>{{ job.company }}</h3>
                        <h5>{{ job.position}}</h5>
                    </div>
                    <div class="timeline__desc">
                        {{ job.jobDesription }}
                    </div>
                </div> <!-- end timeline__block -->
            </div>
        {% endif %}
        {% endfor %}
        </div> <!-- end left -->

    <div class="col-six tab-full right">
        {% for key,job in jobs.experience %}
        {% if key >= (jobs.experience|length)/2 %}
            <div class="timeline">
                <div class="timeline__block">
                    <div class="timeline__bullet"></div>
                    <div class="timeline__header">
                        <p class="timeline__timeframe">{{ job.dateStarted | date('M Y')}} - {{ job.dateEnded | date('M Y') }}</p>
                        <h3>{{ job.company }}</h3>
                        <h5>{{ job.position}}</h5>
                    </div>
                    <div class="timeline__desc">
                        {{ job.jobDesription }}
                    </div>
                </div> <!-- end timeline__block -->
            </div>
        {% endif %}
        {% endfor %}
    </div> <!-- end right -->

</div> <!-- end about-content timeline -->